html, body{ 
	margin:0px;
	padding:0px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

h1, h2 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

h1 { 
	margin-top:14px;
	font-size:18px;
}

#container { 
	width:400px;
	position:relative;
	margin:10px auto 10px auto;
	height:642px;
	padding: 0px 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:1px solid black;
}

#index { 
	width:600px;
	position:relative;
	margin:10px auto 10px auto;
	height:600px;
	padding: 0px 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:1px solid black;
}

#logo { 
	padding-top:16px;
	float:right;
}

/* projects css */ 

#description { 
    height: 80px;
    width: 300px;
	font-size:12px;
}

#message_text { 
	width:398px;
	margin-top:4px;
}

.message { 
	font-size:12px;
}
.message_date { 
	font-size:10px;
	margin-right:4px;
	font-weight:bold;
}

#messages { 
	height:100px;
	overflow:auto;
}

#map_canvas{
	width:398px;
	height:170px;
	margin-bottom:5px;
}

#fb_like {
	float:left;
	width:43px;
	margin-left:20px;
	margin-top:10px;
}

.twitter-share-button { 
	float:left;
	margin-left:140px;
	margin-top:10px;
}


/*index page */

#index #map_canvas { 
	height:580px;
	width:600px;
	margin-top:10px;
}





