/* site wide */

html, body{ 
	margin:0px;
	padding:0px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
	background-image:url(../resources/background.png);
}

h1, h2 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

h1 { 
	margin-top:14px;
	font-size:18px;
}

#logo { 
	padding-top:16px;
	float:right;
}

#container { 
	width:742px;
	margin:auto;
	position:relative;
}

/* index css */

#index #logo { 
	display:none;
}

#index #map_canvas { 
	width:708px;
	position:relative;
	margin:10px auto 10px auto;
	height:600px;
}

#index #map_container { 
	width:738px;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:2px dashed #bd6457;
	padding:10px;
}

#new_project_btn { 
	width:300px;
	height:20px;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:2px dashed #bd6457;
	background-color:white;
	text-decoration:none;
	color:#bd6457;
	font-size:18px;
	margin:50px 0px 50px 260px;
	display:block;
	text-align:center;
	padding-top:10px;
	
}


/* projects css */ 

#description { 
    height: 80px;
    width: 300px;
	font-size:12px;
}


#map_canvas{
	width:398px;
	height:170px;
	margin-bottom:5px;
}

#fb_like {
	float:left;
	width:43px;
	margin-left:20px;
	margin-top:10px;
}

.twitter-share-button { 
	float:left;
	margin-left:140px;
	margin-top:10px;
}

/* New Project */



#new_project #map_canvas { 
	width:708px;
	position:relative;
	margin:10px auto 10px auto;
	height:400px;
}

#new_project #map_container { 
	width:738px;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:2px dashed #bd6457;
	padding:10px;
}

#new_project label, #new_project input { 
	width:250px;
	float:left;
}

#new_project textarea { 
	width:250px;
	height:100px;
}

#save_project { 
	width:300px;
	height:50px;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:2px dashed #bd6457;
	background-color:white;
	text-decoration:none;
	color:#bd6457;
	font-size:18px;
	margin:50px 0px 50px 260px;
	display:block;
	text-align:center;
	padding-top:10px;
}

#send_email_address { 
	width:300px;
	height:50px;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:2px dashed #bd6457;
	background-color:white;
	text-decoration:none;
	color:#bd6457;
	font-size:18px;
	margin:50px 0px 50px 260px;
	display:block;
	text-align:center;
	padding-top:10px;
}

/* PROJECT PAGE */


#project #map_canvas { 
	width:708px;
	position:relative;
	margin:10px auto 10px auto;
	height:400px;
}

#project #map_container { 
	width:738px;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:2px dashed #bd6457;
	padding:10px;
}


#message_text { 
	width:398px;
	margin-top:4px;
}

.message { 
	font-size:12px;
}
.message_date { 
	font-size:10px;
	margin-right:4px;
	font-weight:bold;
}

#messages { 
	margin-top:10px;
}
#social_buttons {
 position: absolute;
    right: 4px;
    top: 574px;
}

#join_in { 
	width:300px;
	height:50px;
	padding: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border:2px dashed #bd6457;
	background-color:white;
	text-decoration:none;
	color:#bd6457;
	font-size:18px;
	margin:50px 0px 50px 260px;
	display:block;
	text-align:center;
	padding-top:10px;	
}
